%float-right {
	float: right;
}

%float-left {
	float: left;
}

%float-none {
	float: none;
}

%center {
	text-align: center;
}

%left {
	text-align: left;
}

%right {
	text-align: right;
}

%block {
	display: block;
}

%inline-block {
	display: inline-block;
}

%none {
	display: none;
}

%relative {
	position: relative;
}

%absolute {
	position: absolute;
}

%fixed {
	position: fixed;
}