$container-g: 960px;
$container-m: 700px;
$container-p: 450px;
$desktop-container: 1400px;
$note-container: 1200px;
$smartphone-container: 300px;
$tablet-container: 700px;

$font-family-base: 'Gibson-Regular'; 
$font-family-gibson-light: 'Gibson-Light'; 
$font-family-gibson-semibold: 'Gibson-SemiBold';
$font-angelina: 'Angelina';
$font-path-base: '../fonts/Gibson';
$font-path-angelina: '../fonts/Angelina';
$size-base: 15px;

$bg-color-base: #FFF;
$color-base: #666;

$black: #000;
$blue-secondary: #494972;
$blue: #0078ae;
$dark-gray: #383838;
$gray: #858585;
$green-secondary: #186b1b;
$green: #4caf50;
$light-blue: #50a1d6;
$light-gray: #E2E2E2;
$orange: orange;
$red: #FF000D;
$red-secondary: #d10812;
$strong-blue: #00638e;
$white: #FFF;