<div class="container interna">

	<h2 class="upper center">Encontramos <span class="bold">5</span> resultados</h2>

	<section class="companys">
		<div class="container-company">
			<a href="index.html#!/empresa" class="full-content transparent"></a>

			<div class="logo">
				<span class="v-align-middle"></span>
				<img class="v-align-middle" src="assets/img/1.png" alt="">
			</div>
			<div class="details">
				<h3 class="upper">Empresa 1</h3>

				<p>CNPJ: 11.572.691/0001-14</p>
				<p>E-mail: empresa1@email.com</p>
				
				<div class="rating">
				    <input type="radio" id="star5" name="rating" value="5">
				    <label for="star5"></label>
				    <input type="radio" id="star4" name="rating" value="4" class="check">
				    <label for="star4"></label>
				    <input type="radio" id="star3" name="rating" value="3">
				    <label for="star3"></label>
				    <input type="radio" id="star2" name="rating" value="2">
				    <label for="star2"></label>
				    <input type="radio" id="star1" name="rating" value="1">
				    <label for="star1"></label>
				</div>
			</div>

			<div class="clear"></div>
		</div>

		<div class="container-company">
			<a href="index.html#!/empresa" class="full-content transparent"></a>

			<div class="logo">
				<span class="v-align-middle"></span>
				<img class="v-align-middle" src="assets/img/2.png" alt="">
			</div>
			<div class="details">
				<h3 class="upper">Empresa 2</h3>

				<p>CNPJ: 11.572.691/0001-14</p>
				<p>E-mail: empresa2@email.com</p>
				
				<div class="rating">
				    <input type="radio" name="rating" value="5">
				    <label for="star5"></label>
				    <input type="radio" name="rating" value="4">
				    <label for="star4"></label>
				    <input type="radio" name="rating" value="3">
				    <label for="star3"></label>
				    <input type="radio" name="rating" value="2" class="check">
				    <label for="star2"></label>
				    <input type="radio" name="rating" value="1">
				    <label for="star1"></label>
				</div>
			</div>

			<div class="clear"></div>
		</div>
	</section>

	<div class="pagination">
		<a data-page="1" href="#" class="active">1</a>
		<a data-page="2" href="#">2</a>
		<a data-page="3" href="#">3</a>
	</div>

</div>