<div class="container-p interna">
				
	<h1 class="upper center">Entre em contato</h1>

	<form name="form-contato" action="#">
		<input type="text" name="ipt-name" class="ipt" placeholder="Nome" required>
		<input type="email" name="ipt-email" class="ipt" placeholder="E-mail" required>
		<input type="text" name="ipt-subject" class="ipt" placeholder="Assunto" required>
		<textarea name="ipt-message" class="ipt medium" placeholder="Mensagem" required></textarea> 

		<input type="submit" class="btn primary" value="Enviar mensagem">
	</form>

</div>