<div class="container interna">

	<h1 class="upper center">Empresa</h1>

	<section class="company-details clear">
		<div class="logo left">
			<span class="v-align-middle"></span>
			<img class="v-align-middle" src="assets/img/1.png" alt="">
		</div>

		<div class="left">
			<i class="fa fa-building fa-2x left"></i>
			<p class="left">
				CNPJ: 11.572.691/0001-14 <br>
				E-mail: <a href="mailto:empresa1@email.com">empresa1@email.com</a> <br>
				Telefone: (12) 1234-5678 <br>
			</p>
			
			<div class="clear"></div><br>

			<i class="fa fa-map-marker fa-2x left"></i>
			<p class="left">
				Endereço: Av José Ribeiro dos Santos, 263 <br>
				Bairro: Santo Antonio <br>
				Complemento: 2º andar <br>
				CEP: 12620-000 <br>
				Cidade: Piquete - SP
			</p>
		</div>
	</section>

	<section class="vehicles clear">
		<h3 class="upper center">Veículos</h3>

		<div class="row">
			
			<div class="col">
				<div class="vehicle">
					<!-- <a href="veiculos.php?id=<?php echo $i; ?>" class="full-content transparent" title="Detalhes"></a> -->

					<div class="contratar">
						<a class="btn primary" href="index.html#!/veiculo-detalhe">Detalhes</a>
						<a class="btn success evtOpenModal" href="javascript:;" data-modal-rel="contratar">Contratar</a>
					</div>

					<div class="thumb-image"><img src="assets/img/van.jpg" alt=""></div>
					
					<ul>
						<li><span class="fa fa-cloud"></span> Ar condicionado</li>
						<li><span class="fa fa-tv"></span> TV</li>
						<li><span class="fa fa-wifi"></span> Wifi</li>
						<li><span class="fa fa-bathtub"></span> Banheiro</li>
					</ul>
				</div>
			</div>

			<div class="col">
				<div class="vehicle">
					<!-- <a href="veiculos.php?id=<?php echo $i; ?>" class="full-content transparent" title="Detalhes"></a> -->

					<div class="contratar">
						<a class="btn primary" href="index.html#!/veiculo-detalhe">Detalhes</a>
						<a class="btn success evtOpenModal" href="javascript:;" data-modal-rel="contratar">Contratar</a>
					</div>

					<div class="thumb-image"><img src="assets/img/van.jpg" alt=""></div>
					
					<ul>
						<li><span class="fa fa-cloud"></span> Ar condicionado</li>
						<li><span class="fa fa-tv"></span> TV</li>
					</ul>
				</div>
			</div>
			
			<div class="col">
				<div class="vehicle">
					<!-- <a href="veiculos.php?id=<?php echo $i; ?>" class="full-content transparent" title="Detalhes"></a> -->

					<div class="contratar">
						<a class="btn primary" href="index.html#!/veiculo-detalhe">Detalhes</a>
						<a class="btn success evtOpenModal" href="javascript:;" data-modal-rel="contratar">Contratar</a>
					</div>

					<div class="thumb-image"><img src="assets/img/van.jpg" alt=""></div>
					
					<ul>
						<li><span class="fa fa-tv"></span> TV</li>
						<li><span class="fa fa-bathtub"></span> Banheiro</li>
					</ul>
				</div>
			</div>
			
		</div>
	</section>
</div>