<header>
	<a class="link-home" href="index.html#!">QuickVan</a>

	<a href="javascript:;" class="ico-menu evtMenu"><span></span></a>
	<a href="index.html#!/viagem" class="ico-bell">
		<i class="fa fa-bell"></i>
		<!-- <span></span> -->
	</a>
</header>

<nav class="menu">
	<ul>
		<li class="login">
			<a href="javascript:;" class="evtSubMenu" data-sub-menu="user-panel">
				Entrar | Olá, Denilson <span class="seta"></span>
				<span class="user"><i class="fa fa-user"></i></span>
			</a>

			<ul class="sub-menu" rel="user-panel">
				<!-- <li><a href="dashboard.php">Dashboard</a></li> -->
				<li><a href="index.html#!/meus-veiculos">Meus Veículos</a></li>
				<li><a href="index.html#!/minhas-viagens">Minhas Viagens</a></li>
				<li><a href="index.html#!/meus-dados">Meus Dados</a></li>
			</ul>
		</li>
		<li>
			<a href="javascript:;" class="evtSubMenu" data-sub-menu="cadastro">Cadastre-se<span class="seta"></span></a>

			<ul class="sub-menu" rel="cadastro">
				<li><a href="index.html#!/cadastro-empresa">Empresa</a></li>
				<li><a href="index.html#!/cadastro-pessoa">Usuário</a></li>
			</ul>
		</li>
		<li>
			<a href="javascript:;" class="evtSubMenu" data-sub-menu="sobre">Sobre <span class="seta"></span></a>

			<ul class="sub-menu" rel="sobre">
				<!-- <li><a href="index.html#!/como-funciona">Como funciona</a></li> -->
				<li><a href="index.html#!/termos">Termos</a></li>
				<li><a href="index.html#!/politicas">Políticas</a></li>
			</ul>
		</li>
		<li><a href="index.html#!/contato">Contato</a></li>
	</ul>
</nav>