<div class="container interna">

	<h1 class="upper center">Meus dados</h1><br>

	<div class="container-960">
		<aside>
			<ul>	
				<li><a href="javascript:;" class="evtAsideMenu active" data-menu="dados"><span class="fa fa-user"></span> Dados gerais</a></li>
				<li><a href="javascript:;" class="evtAsideMenu" data-menu="acesso"><span class="fa fa-pencil"></span> Dados de acesso</a></li>
			</ul>
		</aside>
			
		<form class="container-m right" name="form-meus-dados" action="javascript:;" ng-submit="edit()" data-formulario="form-dados">
			<input type="file" name="ipt-attachment" id="iptAttachment" class="file">
			<label for="iptAttachment" id="lblAttachment" onclick="upload();">
				<i class="fa fa-upload"></i> <span>Imagem de perfil</span>
			</label>

			<input type="text" name="ipt-name" class="ipt" placeholder="Nome proprietário" required>

			<p>Dados da empresa</p>

			<input type="text" name="ipt-razao" class="ipt" placeholder="Razão social">
			<input type="text" name="ipt-cnpj" class="ipt" placeholder="CNPJ" data-mask="cnpj">
			<input type="tel" name="ipt-telephone" class="ipt" placeholder="Telefone" data-mask="tel">
			
			<p>Dados de endereço</p>

			<input type="text" name="ipt-cep" class="ipt" placeholder="CEP" data-mask="cep" required>
			<input type="text" name="ipt-address-street" class="ipt" placeholder="Endereço" required>
			<input type="text" name="ipt-complement" class="ipt" placeholder="Complemento" required>
			<input type="text" name="ipt-address-number" class="ipt" placeholder="Número" required>
			<input type="text" name="ipt-address-district" class="ipt" placeholder="Bairro" required>
			<input type="text" name="ipt-address-city" class="ipt" placeholder="Cidade" required>
			<select name="slc-address-state" class="slc" required>	
				<option value="ES">Espírito Santo</option>
				<option value="MG">Minas Gerais</option>
				<option value="RJ">Rio de Janeiro</option>
				<option value="SP">São Paulo</option>
			</select>

			<input type="submit" class="btn primary" value="Editar">
		</form>

		<form class="container-m right hide" name="form-meus-dados-acesso" action="javascript:;" ng-submit="edit()" data-formulario="form-acesso">
			<input type="email" name="ipt-email" class="ipt" placeholder="E-mail" required disabled>
			<input type="password" name="ipt-pass" class="ipt" placeholder="Senha" required>
			<input type="password" name="ipt-confirm-pass" class="ipt" placeholder="Confirmar senha" required>

			<input type="submit" class="btn primary" value="Editar">
		</form>

		<div class="clear"></div>
	</div>

</div>