<div class="container interna">

	<h1 class="upper center">Meus Veículos</h1>

	<div class="row square-blocks">
		<div class="col">
			<div class="block">
				<a href="javascript:;" class="link-delete right evtOpenModal" data-modal-rel="vehicle"><i class="fa fa-trash"></i></a>
				<a href="index.html#!/veiculo" class="link-edit right"><i class="fa fa-edit"></i></a>

				<p>
					Van <br>
					2010 <br>
					15 lugares <br>
					Ar, TV, Wifi
				</p>
			</div>
		</div>
		<div class="col">
			<div class="block">
				<a href="javascript:;" class="link-delete right evtOpenModal" data-modal-rel="vehicle"><i class="fa fa-trash"></i></a>
				<a href="index.html#!/veiculo" class="link-edit right"><i class="fa fa-edit"></i></a>

				<p>
					Micro-ônibus <br>
					2015 <br>
					30 lugares <br>
					Ar
				</p>
			</div>
		</div>
		<div class="col">
			<div class="block new-vehicle">
				<a href="index.html#!/veiculo" class="full-content transparent"></a>

				<span class="fa fa-3x fa-plus"></span> <br>
				Novo veículo
			</div>
		</div>

		<div class="clear"></div>
	</div>

</div>