<div class="container interna">

	<h1 class="upper center">Minhas Viagens</h1>

	<div class="row square-blocks">
		<div class="col">
			<div class="block pending">
				<a href="index.html#!/viagem" class="full-content transparent"></a>
				<p>
					20/02/2017 - 21/02/2017 <br>
					Cruzeiro x São Paulo <br>
					Cliente <br>
					#10 - Van
				</p>
			</div>
		</div>
		<div class="col">
			<div class="block confirmed">
				<a href="javascript:;" class="link-delete right evtOpenModal" data-modal-rel="travel"><i class="fa fa-trash"></i></a>
				<p>
					12/03/2017 <br>
					Cruzeiro x São Paulo <br>
					Cliente <br>
					#11 - Micro-ônibus <br>
					R$ 100,00
				</p>
			</div>
		</div>
		<div class="col">
			<div class="block realized">
				<a href="javascript:;" class="link-star right evtOpenModal" data-modal-rel="avaliation"><i class="fa fa-star"></i></a>	
				<p>
					10/10/2016 <br>
					Piquete x Ubatuba <br>
					Cliente <br>
					#10 - Van <br>
					R$ 200,00
				</p>
			</div>
		</div>
		<div class="col">
			<div class="block realized">
				<a href="javascript:;" class="link-star right evtOpenModal" data-modal-rel="avaliation"><i class="fa fa-star"></i></a>
				<p>
					20/09/2016 <br>
					Cruzeiro x São Paulo <br>
					Cliente <br>
					#11 - Micro-ônibus <br>
					R$ 200,00
				</p>
			</div>
		</div>

		<div class="clear"></div>

		<div class="legend">
			<span class="realized"></span> Realizada <br>
			<span class="confirmed"></span> Confirmada <br>
			<span class="new"></span> Nova <br>
			<span class="canceled"></span> Cancelada
		</div>
	</div>

</div>