<div class="container interna com-padding-40">

	<h1 class="upper center">Van</h1>

	<section class="vehicle-details clear">
		<div class="logo left">
			<span class="v-align-middle"></span>
			<img class="v-align-middle" src="assets/img/van.jpg" alt="">
		</div>

		<div class="left">
			<ul>
				<li><span class="fa fa-calendar"></span> 2015</li>
				<li><span class="fa fa-users"></span> 15 lugares</li>
				<li><span class="fa fa-cloud"></span> Ar condicionado</li>
				<li><span class="fa fa-tv"></span> TV</li>
				<li><span class="fa fa-wifi"></span> Wifi</li>
				<li><span class="fa fa-bathtub"></span> Banheiro</li>
			</ul>

			<br>
			<p class="gibson-light">Observações do veículo...</p>	 

			<a class="btn success evtOpenModal" href="javascript:;" data-modal-rel="contratar">Contratar</a>
		</div>
	</section>
</div>